html{
    background-color: #E1EACD;
}

button{
    height: 40px;
    width: 100px;
    background-color: #BAD8B6;
    border: 5px solid #61B390;
    border-radius: 15px;
    font-size: 1rem;
}
hr{
    visibility: hidden;
}
li{
    list-style-position:inside;
    padding: 0px;
}
*{
    font-family: 'Marck Script', cursive;
    color: #01352C;
    text-align: center;
}
ol{
    padding: opx;
}
div{
    width: 50%;
    margin-left: 25%;
    padding: 1%;
    background-color: #BAD8B6;
    border: 5px solid #61B390;
    border-radius: 15px;
}
.content{
    margin-left: 24%;
}